<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCV7NWO_b4HnphK_z3nBIOgdCSgMvJpE-M</string>
	<key>GCM_SENDER_ID</key>
	<string>1046307844310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.peelapp.peel</string>
	<key>PROJECT_ID</key>
	<string>peel-a71b7</string>
	<key>STORAGE_BUCKET</key>
	<string>peel-a71b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046307844310:ios:f13336b2964f1b13339977</string>
</dict>
</plist>